[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyppeteer = "*"
"delegator.py" = "*"
python-box = "*"
requests = ">=2.20.0"
"beautifulsoup4" = "*"
raven = "*"
logbook = "*"

[dev-packages]

[requires]
python_version = "3.6"
